{% extends 'home/main.html' %} {% load static %} {% block content %}

<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="text-center">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Testimonial
      </h6>
      <h1 class="mb-5">Diqqat tanishing</h1>
    </div>
    <div class="owl-carousel testimonial-carousel position-relative">
      <div class="testimonial-item text-center">
        <img
          class="border rounded-circle p-2 mx-auto mb-3"
          src="{% static 'img/testimonial-1.jpg' %}"
          style="width: 80px; height: 80px"
        />
        <h5 class="mb-0">Akramova</h5>
        <p>Kasb-hunar</p>
        <div class="testimonial-text bg-light text-center p-4">
          <p class="mb-0">
            Men bu kursni tanlab adashmadim! O'z yo'limni topishimda Teacher-G
            yordam berdi!
          </p>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <img
          class="border rounded-circle p-2 mx-auto mb-3"
          src="{% static 'img/testimonial-2.jpg' %}"
          style="width: 80px; height: 80px"
        />
        <h5 class="mb-0">Zafarov</h5>
        <p>O'quvchi</p>
        <div class="testimonial-text bg-light text-center p-4">
          <p class="mb-0">
            Men bu kursni tanlab adashmadim! O'z yo'limni topishimda Teacher-G
            yordam berdi!
          </p>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <img
          class="border rounded-circle p-2 mx-auto mb-3"
          src="{% static 'img/testimonial-3.jpg' %}"
          style="width: 80px; height: 80px"
        />
        <h5 class="mb-0">Ismatov</h5>
        <p>Oliy ta'lim</p>
        <div class="testimonial-text bg-light text-center p-4">
          <p class="mb-0">
            Men bu kursni tanlab adashmadim! O'z yo'limni topishimda Teacher-G
            yordam berdi!
          </p>
        </div>
      </div>
      <div class="testimonial-item text-center">
        <img
          class="border rounded-circle p-2 mx-auto mb-3"
          src="{% static 'img/testimonial-4.jpg' %}"
          style="width: 80px; height: 80px"
        />
        <h5 class="mb-0">Ismatova</h5>
        <p>O'quvchi</p>
        <div class="testimonial-text bg-light text-center p-4">
          <p class="mb-0">
            Men bu kursni tanlab adashmadim! O'z yo'limni topishimda Teacher-G
            yordam berdi!
          </p>
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->

{% endblock %}
